examples/flows.json
[{"id":"bcb48bd6.51f8b8","type":"tab","label":"Tuya Cloud API Sample","disabled":false,"info":"# Tuya Cloud API Example\n\nThis is just a simple example on how to get some information from the Tuya Cloud API."},{"id":"7a293be2.486514","type":"inject","z":"bcb48bd6.51f8b8","name":"Get Groups","topic":"","payload":"{\"action\":\"tuya.m.location.list\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["f81b482d.7d7ca8"]]},{"id":"901dda4e.7ab2c8","type":"debug","z":"bcb48bd6.51f8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":100,"wires":[]},{"id":"f81b482d.7d7ca8","type":"tuyapi-cloud-request","z":"bcb48bd6.51f8b8","name":"Tuya API Request","config":"d9bda665.1d94c8","x":460,"y":100,"wires":[["901dda4e.7ab2c8"]]},{"id":"2c0193.fcc8fe6e","type":"inject","z":"bcb48bd6.51f8b8","name":"Get Devices","topic":"","payload":"{\"action\":\"tuya.m.my.group.device.list\",\"group\":109102}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["f81b482d.7d7ca8"]]},{"id":"d9bda665.1d94c8","type":"tuyapi-cloud-configuration","z":"","name":"Tuya Cloud API","key":"3fjrekuxank9eaej3gcx","secret":"aq7xvqcyqcnegvew793pqjmhv77rneqc","secret2":"vay9g59g9g99qf3rtqptmc3emhkanwkx","certSign":"93:21:9F:C2:73:E2:20:0F:4A:DE:E5:F7:19:1D:C6:56:BA:2A:2D:7B:2F:F5:D2:4C:D5:5C:4B:61:55:00:1E:40","apiEtVersion":"0.0.1","region":"AZ","email":"user@example.com","password":"x"}]